/* здесь используйте глобальные переменные */

/* Шрифты */
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial",  sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$text-basic-grey: #444444;
$text-special-grey: #111111;
$text-dark-grey: #222222;
$bg-basic-green: #68b738;
$bg-special-green: #5eaa2f;
$bg-basic-grey: #f2f2f2;
$bg-special-grey: #eaeaea;

/* Ширина */
$tablet-width: 768px;
$desktop-width: 1300px;
