.additional-products {

}

.additional-products__title {

}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-products__item {

}

.additional-products__promo {
  background-color: $bg-basic-green;
  color: $white;
}

.additional-products__text-promo {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
}
