.additional-product {

}

.additional-product__link {
  text-decoration: none;
  color: $text-dark-grey;
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__property-list {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__property-item {

}

.additional-product__feature {

}

.additional-product__definition {

}

.additional-product__button {

}
