.button {
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;

  &--primary {
    color: $white;
    background-color: $bg-basic-green;
  }

  &--primary:hover {
    background-color: $bg-special-green;
  }

  &--primary:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    color: $text-basic-grey;
    background-color: $bg-basic-grey;
  }

  &--secondary:hover,
  &--secondary:active {
    background-color: #ebebeb;
  }
}

