.card-product {

}

.card-product__illustration {

}

.card-product__link {
  text-decoration: none;
  color: $text-dark-grey;
}

.card-product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card-product__property-list {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.card-product__property-item {

}

.card-product__feature {

}

.card-product__definition {

}

.card-product__button {

}
