.copyright {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 23px;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__logo {
    fill: $bg-basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: $secondary-font;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.copyright__logo {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    justify-content: end;
  }
}
