.copyright {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 23px;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#logo-htmlacademy");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  &:hover::after {
    background-color: $bg-basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: $secondary-font;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    justify-content: end;
  }
}
