.example {
  background-color: $bg-special-grey;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  grid-column: 1 / -1;
}

.example__description {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.example__text {
  font-family: $secondary-font;
  margin: 0;
}

.example__stats-list {
  margin: 0;
  display: flex;
  gap: 32px;
}

.example__stats-item {
  position: relative;
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 1px;
  box-sizing: border-box;
  margin-bottom: 14px;
}

.example__stats-value {
  color: $black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__stats-subtitle {
  position: absolute;
  bottom: -15px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  width: 87px;
  padding: 0 9px;
  text-align: center;
  background-color: $bg-special-grey;
}

.example__caption {
  color: $black;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.example__slider {
  grid-column: 1 / -1;
}

.example__slider-comparison {
  background-color: $bg-special-grey;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $bg-special-grey;
    background-image: linear-gradient(to top, transparent 462px, $white 462px);
    padding-top: 45px;
    padding-bottom: 101px;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__description {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 89px;
  }

  .example__text {
    flex-grow: 1;
    margin-bottom: 35px;
  }

  .example__stats-list {
    display: flex;
    gap: 43px;
  }

  .example__stats-item {
    width: 162px;
    height: 72px;
  }

  .example__stats-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__stats-subtitle {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding: 0 9px;
    bottom: -7px;
    background-color: $white;
  }

  .example__caption {
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    margin-top: 11px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;
  }

  .example__slider {
    margin: 0 auto;
  }

  .example__slider-comparison {
    background-image: linear-gradient(to top, transparent 365px, $white 365px);
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(to bottom, $white 136px, transparent 136px);
    padding-top: 0;
    padding-bottom: 75px;
  }

  .example__title {
    margin-bottom: 146px;
    grid-column: 1;
  }

  .example__description {
    grid-column: 1;
    flex-direction: column;
    margin: 0;
    row-gap: 45px;
  }

  .example__text {
    width: 450px;
    margin-bottom: 24px;
  }

  .example__stats-subtitle {
    background-color: $bg-special-grey;
  }

  .example__caption {
    margin: 0;
    flex-direction: row;
    gap: 66px;
    align-self: start;
  }

  .example__slider {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .example__slider-comparison {
    background-image: linear-gradient(to bottom, $white 136px, transparent 136px);
  }
}
