.example {
  background-color: $bg-special-grey;
}

.example__title {

}

.example__description {

}

.example__text {
  font-family: $secondary-font;
}

.example__stats-list {

}

.example__stats-item {

}

.example__stats-value {
  color: $black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__stats-subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__caption {
  color: $black;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {

}

.example__slider-image {

}

.example__slider-toggle {

}
