.hero {
  padding-top: 27px;
  padding-bottom: 20px;
  background-color: #434248;
  color: $white;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, $white 302px), url("../../images/hero-background-mobile@1x.jpg"), linear-gradient(to right, #504f55 50%, #434248 50%);
  background-repeat: no-repeat;
  background-size: contain, 320px 302px, contain;
  background-position: top;

  @media (resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, $white 302px), url("../../images/hero-background-mobile@2x.jpg"), linear-gradient(to right, #504f55 50%, #434248 50%);
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__title {
  color: $white;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.hero__slogan {
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;
}

.hero__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .hero {
    color: $black;
    background-color: $white;
    background-image: none;
    text-align: start;
    padding: 0;
    padding-top: 40px;
    min-height: 810px;
  }

  .hero__wrapper {
    padding-left: 90px;
    width: 500px;
  }

  .hero__title {
    color: inherit;
    line-height: 60px;
    width: 500px;
    margin-bottom: 40px;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .hero__image {
    position: absolute;
    margin-left: -90px;
    margin-top: -29px;
  }

  .hero__button {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    padding: 14px;
    box-sizing: border-box;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding-top: 0;
    min-height: 580px;
    background-color: transparent;
    // background-image: linear-gradient(to right, $white 50%, rgba(104, 183, 56, 0.85) 50%);
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 694px;
      background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/hero-background-desktop@1x.jpg");
      background-size: auto 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-color: #403f43;
      z-index: 1;

      @media (resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/hero-background-desktop@2x.jpg");
      }
    }
  }

  .hero__wrapper {
    position: relative;
    padding: 110px 80px;
  }

  .hero__image {
    margin: 0;
    top: 29px;
    left: 447px;
    z-index: 2;
  }
}
