.hero {
  background-color: $bg-basic-green;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, $white 302px), url("../../images/hero-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.hero__title {
  color: $white;
  line-height: 36px;
}

.hero__slogan {
  color: $white;
  text-transform: uppercase;
}

.hero__button {
  width: 100%;
}
