.instruction {

}

.instruction__tittle {

}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instruction__item {

}

.instruction__description {
  font-family: $secondary-font;
}
