.instruction {
  padding-top: 20px;
  padding-bottom: 49px;
}

.instruction__tittle {
  margin: 0;
  margin-bottom: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.instruction__item {
  display: flex;
  gap: 20px;
  align-items: center;

  &::before {
    display: block;
    content: "";
    min-width: 60px;
    height: 60px;
    background-color: $bg-basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url("../../icons/stack.svg#icon-leaf");
    background-size: 25px 28px;
  }

  &--cook::before {
    background-image: url("../../icons/stack.svg#icon-powder");
    background-size: 26px 29px;
  }

  &--portions::before {
    background-image: url("../../icons/stack.svg#icon-cutlery");
    background-size: 25px 30px;
  }

  &--results::before {
    background-image: url("../../icons/stack.svg#icon-clock");
    background-size: 26px 31px;
  }
}

.instruction__description {
  font-family: $secondary-font;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .instruction {
    padding: 46px 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .instruction__tittle {
    margin-bottom: 32px;
  }

  .instruction__list {
    flex-flow: row wrap;
    gap: 37px 60px;
    counter-reset: step 0;
  }

  .instruction__item {
    position: relative;
    width: 324px;
    min-height: 280px;
    flex-direction: column;
    gap: 31px;
    counter-increment: step 1;

    &::before {
      width: 80px;
      height: 80px;
      align-self: self-start;
      margin-top: 40px;
    }

    &::after {
      content: ""counter(step) "";
      display: block;
      min-width: 136px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      top: 0;
      left: 115px;
      z-index: -1;
    }
  }

  .instruction__description {
    width: 245px;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    padding: 70px 0;
    border-bottom: none;
  }

  .instruction__list {
    flex-flow: row wrap;
    gap: 37px 80px;
  }

  .instruction__item {
    width: 245px;
  }
}
