.location {
  position: relative;
  background-color: transparent;
}

.location__description {
  background-color: $white;
  padding: 26px calc((100% - 280px) / 2);
  display: flex;

  &--inner {
    background-color: $bg-basic-grey;
  }
}

.location__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-special-grey;
  width: 50%;
  margin: 0;
}

.location__address {
  font-family: $secondary-font;
  line-height: 20px;
  font-style: normal;
  width: 50%;
}

.location__map {
  width: 100%;
  position: relative;
  min-height: 362px;
}

.location__map iframe {
  width: 100%;
  position: relative;
  z-index: 2;
  border: none;
}

.location__image {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .location__description {
    padding: 61px calc((100% - 628px) / 2);
    justify-content: space-between;
  }

  .location__text {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
  }

  .location__address {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .location__map {
    min-height: 400px;
  }

  .location__map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location__description {
    position: absolute;
    top: 95px;
    left: calc((100% - 1220px) / 2);
    width: 565px;
    padding: 60px 78px 60px 80px;
    box-sizing: border-box;
    background-color: $white;
    justify-content: space-between;
    z-index: 3;

    &--inner {
      background-color: $white;
    }
  }

  .location__address {
    text-align: start;
  }
}
