.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: $primary-font;
  color: $text-basic-grey;
  background-color: $white;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}
