.page-header {
  position: relative;
  color: $black;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 190px;
  height: 65px;
  text-decoration: none;
  padding: 13px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  display: block;
  margin: 0;
}

// .page-header__nav {

// }

@media (min-width: $tablet-width) {
  .page-header {
    padding-block: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }

  .page-header__logo {
    width: 174px;
    height: 50px;
    padding: 0;
  }

  .page-header__nav {
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 55px;
    padding-bottom: 0;
    z-index: 10;
    min-height: 59px;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }

  .page-header__logo-text {
    width: 118px;
    height: 21px;
  }

  // .page-header__nav {
  //   // width: 475px;
  // }
}
