.page-header {
  color: $black;
  padding: 13px 0;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.page-header__logo {
  width: 190px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  display: block;
}

.page-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 25px 0;
  }

  .page-header__logo {
    width: 174px;
  }

  .page-header__nav {
    // width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
    padding-top: 55px;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-header__logo-text {
    width: 118px;
    height: 21px;
  }

  .page-header__nav {
    // width: 475px;
  }
}
