.page-footer {
  background-color: $bg-basic-grey;
}

.page-footer__content {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  padding: 20px 0;
  display: block;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  &:hover .page-footer__logo-text {
    fill: #3e3e3e;
  }

  &:active .page-footer__logo-text {
    fill: #6b6b6b;
  }
}

.page-footer__logo-text {
  fill: $text-special-grey;
}

.page-footer__social {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer__content {
    padding-block: 55px;
    min-height: 147px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
  }

  .page-footer__logo {
    padding: 0;
    height: 24px;
    border-bottom: none;
    width: fit-content;
    text-align: start;
  }

  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    width: fit-content;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__content {
    padding-block: 66px;
    min-height: 169px;
  }
}
