.page-header {
  position: relative;
  color: $black;
  padding: 0 calc((100% - 280px) / 2) 0;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 190px;
  height: 38px;
  text-decoration: none;
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  display: block;
}

// .page-header__nav {

// }

@media (min-width: $tablet-width) {
  .page-header {
    padding: 25px calc((100% - 708px) / 2);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
  }

  .page-header__logo {
    width: 174px;
    height: 50px;
    padding: 0;
  }

  // .page-header__nav {
  //   // width: 440px;
  // }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 calc((100% - 1220px) / 2);
    padding-top: 55px;
    z-index: 1;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-header__logo-text {
    width: 118px;
    height: 21px;
  }

  // .page-header__nav {
  //   // width: 475px;
  // }
}
