.site-list {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  background-color: $white;
}

.site-list__item {
  padding: 23px 0;
  // border-bottom: 1px solid #e6e6e6;
  position: relative;

  @media (width < $tablet-width) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      bottom: 0;
    }

    &:first-child {
      // border-top: 1px solid #e6e6e6;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        position: absolute;
        top: 0;
      }
    }
  }
}

.site-list__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    padding-right: 4px;
    position: static;
    font-size: 18px;
    line-height: 24px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 15px 33px;
  }

  .site-list__item {
    padding: 0;

    &--current::after {
      content: "";
      display: block;
      position: relative;
      height: 2px;
      background-color: $bg-basic-green;
      bottom: -8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
    font-size: 20px;
    line-height: 30px;

    &--white {
      background-color: inherit;
    }
  }

  .site-list--white .site-list__item {
    &--current::after {
      background-color: $white;
      bottom: -6px;
    }
  }

  .site-list--white .site-list__link {
    color: $white;
  }
}
