.site-list {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.site-list__item {

}

.site-list__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
}
