.social {
  padding: 19px 0;
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 132px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.social__link {
  display: block;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #666666;
  }

  &:hover::before {
    background-color: $bg-basic-green;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--vkontakte::before {
    mask-image: url("../../icons/stack.svg#icon-vk");
    mask-size: 27px 17px;
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#icon-youtube");
    mask-size: 24px 19px;
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#icon-tg");
    mask-size: 20px 17px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
  }
}
