.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// .subscribe-form__field {

// }

// .subscribe-form__button {

// }

@media (min-width: $tablet-width) {
  .subscribe-form {
    padding: 0 68px;
    display: flex;
    flex-direction: row;
    gap: 0;
    box-sizing: border-box;
  }

  .subscribe-form__field {
    flex-grow: 1;
  }

  .subscribe-form__button {
    width: 256px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe-form {
    max-width: 752px;
  }
}
