.subscribe {
  padding: 40px 0;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 32px;
}

.subscribe__text {
  color: $black;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .subscribe {
    padding: 80px 0;
  }

  .subscribe__title {
    margin-bottom: 66px;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    padding: 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    padding: 96px 0 104px;
  }

  .subscribe__title {
    margin-bottom: 72px;
  }

  .subscribe__form {
    margin: 0 auto;
  }
}
