.title {
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  &--secondary {
    font-size: 24px;
    line-height: 24px;
    width: fit-content;
    box-shadow: -40px 0 0 0 $white, 40px 0 0 0 $white;
    position: relative;
    background-color: $white;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      height: 2px;
      background-color: $bg-basic-green;
      top: 0.5em;
      right: 0;
      box-shadow: 100vw 0 0 $bg-basic-green;
      z-index: -1;
    }
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
    line-height: 60px;

    &--secondary {
      font-size: 32px;
      line-height: 32px;
      box-shadow: 40px 0 0 0 $white;
      padding-left: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title--secondary {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    box-shadow: -40px 0 0 0 $white, 40px 0 0 0 $white;
  }
}
